* {
  /* border: 1px solid #000; */
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body, #app {
  /* height: 100%; */
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #33145755; */
  background-image: linear-gradient(45deg, #331457, #5141AF);
  color: #fff;
}

h1 {
  margin: 10px;
  letter-spacing: 1.2px;
  font-weight: 600;
  font-size: 40px;
}

.sort-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.sort-container select, 
.sort-container input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #5141AF;
  color: white;
  font-size: 16px;
}

.sort-container input {
  width: 100px; /* 或根据需要调整 */
}

.sort-container select:focus, 
.sort-container input:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
}

.sort-container select:hover,
.sort-container input:hover {
  background-color: #6C5AB5;
}

/* Hide Default Arrow Up and Down */
.sort-container input::-webkit-outer-spin-button,
.sort-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sort-container input[type=number] {
  -moz-appearance: textfield;
}

/* End of Sort Container */


/* Start of Player Card */

.player-card {
  border: 1px solid #000;
  display: flex;
  width: 60%;
  margin-bottom: 20px;
  /* border-radius: 15px; */
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.player-card h3 {
  font-size: 30px;
}

.player-card h4 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.player-card p {
  letter-spacing: 1px;
  font-size: 12px;
}

.player-card .left {
  display: flex;
  width: 45%;
  background-color: #8C2EF5;
  /* border-radius: 15px 0 0 15px; */
}

.player-card .left .place {
  width: 100px;
  position: relative;
}

.player-card .left .place::after {
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  bottom: 20%;
  border-right: 1px solid black;
  width: 0;
}

.player-card .left .place, .player-card .right > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.player-card .left .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.player-card .right {
  width: 55%;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #221D2B88;
}

.player-card .right > div {
  width: 18%;
}

@media (max-width: 1600px) {
  h1 {
    font-size: 38px;
  }
  .player-card h3 {
    font-size: 26px;
  }
  .player-card h4 {
    font-size: 22px;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 36px;
  }

  .player-card h3 {
    font-size: 24px;
  }
  
  .player-card h4 {
    font-size: 20px;
  }
  
  .player-card p {
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .player-card {
    width: 90%;
    flex-direction: column;
  }

  .player-card .left, .player-card .right {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }

  .player-card h3 {
    font-size: 24px;
  }
  
  .player-card h4 {
    font-size: 22px;
  }
  
  .player-card p {
    letter-spacing: 1px;
    font-size: 12px;
  }
}

/* 手機專用樣式 */
@media (max-width: 600px) {

  .sort-container select, 
  .sort-container input {
    width: 30%;
    margin: 10px;
  }

  h1 {
    font-size: 20px;
  }

  .player-card h3 {
    font-size: 20px;
  }

  
  .player-card h4 {
    font-size: 16px;
  }
  
  .player-card p {
    letter-spacing: 1px;
    font-size: 10px;
  }
}
